@import 'fonts';
// components
@import 'spinner';



/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-size: 100%;
  background-image: url("https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?q=80&fm=jpg&s=79978a74e55792a7a5182ba0c0aa4e25");
  background-repeat: no-repeat;
}

.nav-wrapper {
}

.nav-wrapper .brand-logo {
  padding-left: 150px;
}

.nav-wrapper .right {
  padding-right: 120px;
}

.title {
  color: #111;
  text-align: center;
  font-weight: 700;
}

.title .button {
  color: #69D2E7;
  marigin: auto;
  text-align: center;
}

.form {
  color: #000;
  text-align: center;
  marigin: center;
}

.input-field {
  marigin: auto;
}
