@import 'fonts';
// components
@import 'spinner';



/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-size: 100%;
  background-image: url("http://i.imgur.com/gCEjWy6.jpg");
}

.title {
  color: #000;
  padding-left: 170px;
  padding-top: 50px;
  width: 1000px;
  font-weight: 700;
}

.title .button {
  padding-right: 225px;
  padding-top: 50px;
  text-align: center;
}

.form {
  color: #000;
  padding-left: 170px;
  padding-top: 30px;
  width: 1000px;
}

.input-field {
  marigin-right: 500px;
  width: 500px;
}
