/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-size: 100%;
  background-image: url("https://images.unsplash.com/photo-1444730558009-b7f0368e1264?q=80&fm=jpg&s=fb8c0dd23d975108ee70c0b0ad9e3b6a");
  background-repeat: no-repeat;
}

.nav-wrapper {
  background-color: #53777A;
}

.nav-wrapper .brand-logo {
  padding-left: 150px;
}

.nav-wrapper .right {
  padding-right: 120px;
}

.title {
  color: #FFF;
  text-align: center;
  width: 1000px;
  font-weight: 700;
}

.title .button {
  padding-right: 225px;
  padding-top: 50px;
  text-align: center;
}

.form {
  color: #000;
  text-align: center;
  width: 1000px;
}

.input-field {
  marigin-right: 500px;
  width: 500px;
}